<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading"><h2>Meet wavedox</h2></div>
      <div class="panel-body">

        <p>
          Wavedox <span class="muted">(spelled in lower case, "wavedox")</span> is a free resource for
          DC Universe Online (DCUO) players who are looking to make progress with their characters, leagues and
          groups, based on open data from Sony Online Entertainment (SOE)
          <a href="//census.soe.com">Census</a>.
        </p>

        <p class="nopad">
          It was known as <span class="muted">DCUO Social Graph</span>, and hosted under
          <span class="muted">http://dcuo.herokuapp.com</span>. The new name is inspired
          by the awesome raid Paradox Wave.
        </p>

      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading"><h2>Suggested Feats</h2></div>
      <div class="panel-body">Body</div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-danger">
      <div class="panel-heading"><h2>Leaderboards</h2></div>
      <div class="panel-body">Body</div>
    </div>
  </div>
</div>
