<div class="row">
  <div class="col-md-8">
    <%= render 'shared/search' %>
  </div>

  <div class="col-md-4">
    <div class="box box-info" id="social-box">

      <div class="text-center">
        <div id="social-tagline">Support wavedox on</div>

        <div id="social-icons">
          <a href="//twitter.com/BytecodeDCUO" target="_blank"><i class="fa fa-twitter-square"></i></a>
          <a href="//facebook.com/wavedox" target="_blank"><i class="fa fa-facebook-square"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>
