body
  font-weight: 300
  padding-top: 70px

h1
  font-size: inherit
  line-height: inherit
  margin: inherit

h2
  font-size: 18px
  margin: 10px 0

hr
  border-color: lighten($gray, 10%)

a:hover
  text-decoration: none

.block
  display: block

.panel-heading h2
  margin: 0

.panel-link
  padding: 0

  &:hover
    opacity: .9

  a
    display: block
    padding: 20px

    &:hover
      color: $gray-lighter

@media (max-width: $screen-xs-max)
  body
    padding-top: 55px
