<div class="row" ng-controller="CharacterCtrl">
  <div class="col-sm-4 col-md-3">
    <div class="panel panel-warning">

      <div class="panel-heading" ng-if="!character">
        <i class="fa fa-spin fa-circle-o-notch"></i> Loading...
      </div>

      <div class="panel-heading" ng-if="character && !character.id">
        Character not found
      </div>

      <div class="panel-heading" ng-if="character.id">
        <h1>{{character.name}}</h1>
      </div>

      <div class="panel-body" ng-if="character.id">
        <img class="character-image" ng-src="{{character.image}}" onerror="this.onerror = null; this.src='/assets/placeholder.gif'; return false">

        <table class="wd-table">
          <tbody class="interactions image-fit">
            <tr ng-hide="isMyProfile()">
              <td><a href="" ng-click="saveProfile()"><i class="fa fa-check"></i> Save as My Character</a></td>
            </tr>

            <tr ng-show="isMyProfile()">
              <td><a href="" ng-click="unlinkProfile()"><i class="fa fa-remove"></i> Unlink from my profile</a></td>
            </tr>

            <tr>
              <td><a ng-href="{{character.suggestedFeatsPath}}"><i class="fa fa-line-chart"></i> See Suggested Feats</a></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-8 col-md-5" ng-if="character.id">
    <div class="panel panel-success">
      <div class="panel-heading">Overview</div>
      <div class="panel-body">

        <table class="wd-table">
          <tbody>
            <tr>
              <td>League</td>
              <td class="text-right">
                <a ng-href="{{character.league.path}}" ng-if="character.league"><i class="fa fa-chevron-circle-right"></i> {{character.league.name}}</a>
              </td>
            </tr>

            <tr>
              <td>World</td>
              <td class="text-right">{{character.world.toUpperCase()}}</td>
            </tr>

            <tr>
              <td>Faction</td>
              <td class="text-right">{{character.faction}}</td>
            </tr>

            <tr>
              <td>Origin</td>
              <td class="text-right">{{character.origin}}</td>
            </tr>

            <tr>
              <td>Mentor</td>
              <td class="text-right">{{character.mentor}}</td>
            </tr>

            <tr>
              <td>Power</td>
              <td class="text-right">{{character.power}}</td>
            </tr>

            <tr>
              <td>Movement</td>
              <td class="text-right">{{character.movement}}</td>
            </tr>

            <tr>
              <td>Weapon</td>
              <td class="text-right">{{character.weapon}}</td>
            </tr>

            <tr>
              <td>Personality</td>
              <td class="text-right">{{character.personality}}</td>
            </tr>

            <tr>
              <td>Gender</td>
              <td class="text-right">{{character.gender}}</td>
            </tr>

            <tr>
              <td>Last Location</td>
              <td class="text-right">{{character.lastLocation}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>

    <div class="panel panel-success" ng-if="character.id">
      <div class="panel-heading">Stats</div>
      <div class="panel-body">

        <table class="wd-table">
          <tbody>
            <tr>
              <td>Health</td>
              <td class="text-right">{{character.currentHealth | number}} / {{character.maxHealth | number}}</td>
            </tr>

            <tr>
              <td>Power</td>
              <td class="text-right">{{character.currentPower | number}} / {{character.maxPower | number}}</td>
            </tr>

            <tr>
              <td>Defense</td>
              <td class="text-right">{{character.defense | number}}</td>
            </tr>

            <tr>
              <td>Dominance</td>
              <td class="text-right">{{character.dominance | number}}</td>
            </tr>

            <tr>
              <td>Might</td>
              <td class="text-right">{{character.might | number}}</td>
            </tr>

            <tr>
              <td>Precision</td>
              <td class="text-right">{{character.precision | number}}</td>
            </tr>

            <tr>
              <td>Restoration</td>
              <td class="text-right">{{character.restoration | number}}</td>
            </tr>

            <tr>
              <td>Toughness</td>
              <td class="text-right">{{character.toughness | number}}</td>
            </tr>

            <tr>
              <td>Vitalization</td>
              <td class="text-right">{{character.vitalization | number}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4" ng-if="character.id">
    <div class="panel panel-warning">
      <div class="panel-heading">Progress</div>
      <div class="panel-body">

        <table class="wd-table">
          <tbody>
            <tr>
              <td>Level</td>
              <td class="text-right">{{character.level}}</td>
            </tr>

            <tr>
              <td>PvE CR</td>
              <td class="text-right">{{character.pveCr}}</td>
            </tr>

            <tr>
              <td>PvP CR</td>
              <td class="text-right">{{character.pvpCr}}</td>
            </tr>

            <tr>
              <td>Skill Points</td>
              <td class="text-right">{{character.skillPoints}}</td>
            </tr>

            <tr>
              <td>Feats</td>
              <td class="text-right">{{character.featsCompleted}} / {{character.maxFeats}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
</div>
