<div class="row" ng-controller="LeagueCtrl">
  <div class="col-sm-4 col-md-3">
    <div class="panel panel-warning">

      <div class="panel-heading">
        <span ng-if="!league">Loading...</span>
        <h1 ng-if="league">{{league.name}}</h1>
      </div>

      <div class="panel-body" ng-if="league">
        <table class="wd-table">
          <tbody>
            <tr>
              <td>World</td>
              <td class="text-right">{{league.world.toUpperCase()}}</td>
            </tr>

            <tr>
              <td>Faction</td>
              <td class="text-right">{{league.faction}}</td>
            </tr>

            <tr>
              <td>Members</td>
              <td class="text-right">{{countMembers()}}</td>
            </tr>

            <tr>
              <td>Average PvE CR</td>
              <td class="text-right">{{league.avgPveCr}}</td>
            </tr>

            <tr>
              <td>Average PvP CR</td>
              <td class="text-right">{{league.avgPvpCr}}</td>
            </tr>

            <tr>
              <td>Average Skill Points</td>
              <td class="text-right">{{league.avgSkillPoints}}</td>
            </tr>
          </tbody>

          <tbody class="interactions continuous">
            <tr>
              <td colspan="2">
                <a href="" ng-click="toggle('showImages')" ng-show="showImages"><i class="fa fa-toggle-on"></i> Show character images</a>
                <a href="" ng-click="toggle('showImages')" ng-show="!showImages"><i class="fa fa-toggle-off"></i> Show character images</a>
              </td>
            </tr>

            <tr>
              <td colspan="2">
                <a href="" ng-click="toggle('hideOutdated')" ng-show="hideOutdated"><i class="fa fa-toggle-on"></i> Hide outdated characters</a>
                <a href="" ng-click="toggle('hideOutdated')" ng-show="!hideOutdated"><i class="fa fa-toggle-off"></i> Hide outdated characters</a>
              </td>
            </tr>

            <tr ng-class="{ disabled: !showImages }">
              <td colspan="2">
                <a href="" ng-click="toggle('hideMissingImages')" ng-show="hideMissingImages"><i class="fa fa-toggle-on"></i> Hide missing images</a>
                <a href="" ng-click="toggle('hideMissingImages')" ng-show="!hideMissingImages"><i class="fa fa-toggle-off"></i> Hide missing images</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3" ng-repeat="member in visibleMembers = (league.members | characterFilter:hideOutdated)" ng-show="hasImage(member)">
    <div class="panel panel-success">

        <div class="panel-heading panel-link">
          <a ng-href="{{member.path}}">
            <small>
              <span class="character-rank">{{member.rankDisplay}}</span>
              {{member.name}}
            </small>
          </a>
        </div>

      <div class="panel-body">
        <a class="character-link" ng-href="{{member.path}}">
          <img class="character-image id-{{member.id}}" ng-src="{{member.image}}" ng-show="showImages"
               onerror="this.onerror = null; this.src='/assets/placeholder.gif'">
        </a>

        <table class="wd-table character-highlights">
          <tbody>
            <tr>
              <td>Power</td>
              <td class="text-right">{{member.power}}</td>
            </tr>

            <tr>
              <td>PvE CR</td>
              <td class="text-right">{{member.pveCr}}</td>
            </tr>

            <tr>
              <td>PvP CR</td>
              <td class="text-right">{{member.pvpCr}}</td>
            </tr>

            <tr>
              <td>Skill Points</td>
              <td class="text-right">{{member.skillPoints}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
