<div class="row" ng-controller="LeagueCtrl">
  <div class="col-sm-4 col-md-3">
    <div class="panel panel-warning">

      <div class="panel-heading" ng-if="!league">
        <i class="fa fa-spin fa-circle-o-notch"></i> Loading...
      </div>

      <div class="panel-heading" ng-if="league && !league.id">
        League not found
      </div>

      <div class="panel-heading" ng-if="league.id">
        <h1>{{league.name}}</h1>
      </div>

      <div class="panel-body" ng-if="league.id">

        <table class="wd-table">
          <tbody>
            <tr>
              <td>World</td>
              <td class="text-right">{{league.world.toUpperCase()}}</td>
            </tr>

            <tr>
              <td>Faction</td>
              <td class="text-right">{{league.faction}}</td>
            </tr>

            <tr>
              <td>Members</td>
              <td class="text-right">{{league.members.length | number}}</td>
            </tr>

            <tr>
              <td>Average PvE CR</td>
              <td class="text-right">{{league.avgPveCr}}</td>
            </tr>

            <tr>
              <td>Average PvP CR</td>
              <td class="text-right">{{league.avgPvpCr}}</td>
            </tr>

            <tr>
              <td>Average Skill Points</td>
              <td class="text-right">{{league.avgSkillPoints}}</td>
            </tr>
          </tbody>

          <tbody class="interactions continuous">
            <tr>
              <td colspan="2">
                <a href="" ng-click="toggle('showImages')" ng-show="showImages"><i class="fa fa-toggle-on"></i> Show character images</a>
                <a href="" ng-click="toggle('showImages')" ng-show="!showImages"><i class="fa fa-toggle-off"></i> Show character images</a>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="clearfix">
          <input class="form-control" style="margin: 5px 0 10px" type="text" ng-model="filterModel.name" placeholder="Filter League Members">

          <div class="pull-right">
            <small>Sort by</small>

            <div class="btn-group">
              <button class="btn btn-xs btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{orderBy.label}} <i class="fa fa-chevron-down"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="" ng-click="orderBy.set('rank', 'Rank')">Rank</a></li>
                <li><a href="" ng-click="orderBy.set('-skillPoints', 'Skill Points')">Skill Points</a></li>
                <li><a href="" ng-click="orderBy.set('-pveCr', 'PvE CR')">PvE CR</a></li>
                <li><a href="" ng-click="orderBy.set('-pvpCr', 'PvP CR')">PvP CR</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-3" ng-repeat="member in league.members | filter:filterModel | orderBy:orderBy.keys()">
    <div class="panel panel-success">

        <div class="panel-heading panel-link">
          <a ng-href="{{member.path}}">
            <span class="character-rank">{{member.rankDisplay}}</span>
            {{member.name}}
          </a>
        </div>

      <div class="panel-body">
        <a class="character-link" ng-href="{{member.path}}">
          <img class="character-image id-{{member.id}}" ng-src="{{member.image}}" ng-show="showImages"
               onerror="this.onerror = null; this.src='/placeholder.gif'">
        </a>

        <table class="wd-table character-highlights">
          <tbody>
            <tr>
              <td>Power</td>
              <td class="text-right">{{member.power}}</td>
            </tr>

            <tr>
              <td>PvE CR</td>
              <td class="text-right">{{member.pveCr}}</td>
            </tr>

            <tr>
              <td>PvP CR</td>
              <td class="text-right">{{member.pvpCr}}</td>
            </tr>

            <tr>
              <td>Skill Points</td>
              <td class="text-right">{{member.skillPoints}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
