<!DOCTYPE html>
<html lang="en" ng-app="wavedox">

  <head>
    <title>wavedox.com</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="A free resource for DC Universe Online (DCUO) players who are looking to make progress with their characters, leagues and groups, based on open data from Sony Online Entertainment (SOE) Census.">
    <meta name="keywords" content="dcuo,dc universe online,census,soe census,characters,leagues,feats,stats,leaderboards,scoreboards,character building,toon building,inspect stats,skill points,combat rating,pve,pvp,lfg,game,video game,play station,soe">
    <meta name="author" content="Bytecode">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/iphone-icon.png">
    <link rel="apple-touch-icon-precomposed" href="icon">

    <% if Rails.env == 'production' %>
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:300,700">
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,600">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">

    <% else %>
      <link rel="stylesheet" href="/fonts/lato.css">
      <link rel="stylesheet" href="/fonts/open-sans.css">
      <link rel="stylesheet" href="/icons/css/font-awesome.css">
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54512057-1', 'auto');
      ga('require', 'displayfeatures');
    </script>

  </body>
</html>
